<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
    <h5>Héroe borrado <small class="text-danger">{{ deletedHero }}</small></h5>
</div>

<ng-template #nothingWasDeleted>
    <h5>No ha borrado nada</h5>
</ng-template>

<button
    (click)="addHero()"
    class="btn btn-primary mx-2 mb-3"
>
    Add Hero
</button>

<button
    class="btn btn-outline-danger mb-3"
    (click)="removeLastHero()"
    *ngIf="heroList.length > 0"
>
    Borrar último héroe
</button>

<ul class="mt-2 list-group mb-3">
    <li
        class="list-group-item"
        *ngFor="let hero of heroList"
    >
        {{ hero }}
    </li>
</ul>
